<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Aliada | Centro Oncológico</title>
  <meta name="Aliada" content="https://beyond.com.pe/">
  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="facebook-domain-verification" content="ufoh1vekx8h1ypl5j02a1v2urhne32" />

<!-- Console de Google -->
<meta name="google-site-verification=qTAWRTAM6_Pw48vt729pOvhuyKIvgmiuz6axJhgTxVs">
<!-- /Console de Google-->

  <link rel="shortcut icon" href="https://www.aliada.com.pe/assets/img/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,500,600,600i,700,800,900" rel="stylesheet">
 <link rel="stylesheet" href="https://www.aliada.com.pe/assets/css/terceros.css" type="text/css" media="all">  

  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '404411986641672');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=404411986641672&ev=PageView&noscript=1"
/></noscript>
  <style>
    /*Modal Responsive*/
    .adaptar-modal {
      width: 60% !important;
    }
    #tituloOculto {
      display:none;
    }
    #divTituloPrincipal {
      display:block;
    }
    @media only screen and (max-width: 1300px) {
      .adaptar-modal {
        width: 70% !important;
      }
    }
    @media only screen and (max-width: 1100px) {
      .adaptar-modal {
        width: 80% !important;
      }
    }
    @media only screen and (max-width: 991px) {
      .adaptar-modal {
        width: 80% !important;
      }
      #tituloOculto {
        display:block;
      }
      #divTituloPrincipal {
       display:none;
      }
    }
    @media only screen and (max-width: 500px) {
      .adaptar-modal {
        width: 100% !important;
      }
    }
    /*Pagination*/
    div span.page-numbers{
      cursor:pointer;
    }
    /* SANNA */
    ul li a.hover-sanna:hover {
      background-color: #00a850 !important;
    }
    p a.hover-sanna{
      color: black !important;
    }
    p a.hover-sanna:hover{
      color: #00a850 !important;
    }
  </style>
      <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5RCDH4RL');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RCDH4RL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  
</head>
<div class="main-header-top">
<div class="header-top clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-5 ">
        <p>Bienvenido a Aliada</p>
      </div>
      <div class="col-md-7 text-right">
        <p><span class="label-c "></span>
          <span class="">Horario de Atencion: de Lunes a Viernes de 8 am a 8 pm Sábados de 8 am a 1 pm (Previa Cita)</span>
          <!--<span class="hidden-xs">Lunes a Viernes - 8am a 1pm</span><!-Lunes a Viernes - 8am a 6pm / Sábados - 8am a 1pm-->
          <!--<span class="visible-xs">Lunes a Viernes - 8am a 1pm </span><!-Lunes a Viernes - 8am a 6pm <br /> Sábados - 8am a 1pm-->
        <!-- <br class="visible-xs">-->
        </p>
        <!--<p>
          <span class="label-c ">Horario regular: </span>
          <span class="">Lunes a Viernes - 8am a 9pm / Sábados - 8am a 2pm</span>
        </p>-->
        <p><span class="label-c">Lugar: </span>
          <span class="">Av. José Gálvez Barrenechea N° 1044 San Isidro, Lima 27 - Perú </span>
<p><span class="label-c left-c">Central:</span><span><a href="tel:016505000">+511 650-5000</a></span></p>
        </p>
      </div>
    </div>
  </div>
</div>

<header id="header">
  <div class="container">
    <div class="logo clearfix">
      <a href="https://www.aliada.com.pe/index"><img src="https://www.aliada.com.pe/assets/img/logo.png?v=1.0.25" alt="Aliada"></a>
      <!--<a href="< ?php echo $urlBase?>index"><img id="imgLogoMenu" src="" alt="Aliada"></a>-->
    </div>
    <nav class="main-menu">
      <ul class="header-nav clearfix" id="menu-main-menu">
        <li class="page_item">
          <a href="https://www.aliada.com.pe/index">Inicio</a>
	<!--	<a href="https://www.aliada.com.pe/index">ONCOCARE S.A.C.</a>-->
        </li>
        <li>
          <a href="https://www.aliada.com.pe/nosotros">Aliada</a>
          <ul>
            <li><a href="https://www.aliada.com.pe/nosotros/acerca-de-aliada">Acerca de Aliada</a></li>
            <li><a href="https://www.aliada.com.pe/nosotros/primeros">Segunda opinion</a></li>
            <li><a href="https://www.aliada.com.pe/nosotros/porque-aliada">¿Por qué Aliada?</a></li>
            <li><a href="https://www.aliada.com.pe/nosotros/nuestra-historia">Nuestra Historia</a></li>
            <li><a href="https://www.aliada.com.pe/nosotros/nuestras-sedes">Nuestras Sedes</a></li>
            <li><a href="https://www.aliada.com.pe/nosotros/nuestros-servicios">Nuestros Servicios</a></li>
            <li><a href="https://www.aliada.com.pe/nosotros/afiliaciones-y-acreditaciones">Afiliaciones y Acreditaciones</a></li>
            <!-- <li><a href="/doctores">Equipo Médico</a></li> -->
            <li><a href="https://www.aliada.com.pe/nosotros/seguros-con-los-que-trabajamos">Seguros con los que trabajamos</a></li>
          </ul>
        </li>
        <li>
          <a href="https://www.aliada.com.pe/nuestros-tratamientos">Servicios</a>
          <ul>
            <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/quimioterapia">Quimioterapia</a></li>
            <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/radioterapia">Radioterapia</a></li>
            <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/terapia-biologica">Terapia Biológica</a></li>
            <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/terapia-hormonal">Terapia Hormonal</a></li>
            <li><a class="hover-sanna" href="https://www.aliada.com.pe/nuestros-tratamientos/cirugia-oncologica">Cirugia Oncológica</a></li>
            <li><a class="hover-sanna" href="https://www.aliada.com.pe/nuestros-tratamientos/trasplante-de-medula">Trasplante de Médula</a></li>
            
            <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/unidad-de-imagenes">Unidad de Imágenes</a></li>
            <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/consejeria-genetica">Consejería Genética</a></li>
            <li><a href="https://unilabs.pe/" target="_blank">Anatomía Patológica</a></li>       
            <li><a href="https://www.precisa.com.pe/" target="_blank">Laboratorio</a></li>  
          
          </ul>
        </li>
        <li style="display:none">
          <a href="https://www.aliada.com.pe/prevencion-aliada">Prevención</a>
          <ul>
            <li><a href="https://www.aliada.com.pe/prevencion-aliada/paquetes-preventivos">Paquetes Preventivos</a></li>       
            <li><a href="https://www.aliada.com.pe/prevencion-aliada/centro-integral-de-la-mama">Centro Integral de la Mama</a></li>
            <li><a href="https://www.aliada.com.pe/prevencion-aliada/consejeria-genetica">Consejería Genética</a></li>
            <li><a href="https://www.aliada.com.pe/prevencion-aliada/examenes-de-despistaje">Exámenes de Despistaje</a></li>            
          </ul>
        </li>
        <li>
          <a href="https://www.aliada.com.pe/cancer">El Cáncer</a>
          <ul>            
            <li><a href="https://www.aliada.com.pe/cancer/proceso-del-cancer">Proceso del Cáncer</a></li>
            <li><a href="https://www.aliada.com.pe/sintomas">Síntomas</a></li>
            <li><a href="https://www.aliada.com.pe/diagnostico">Diagnóstico</a></li>
            <li><a href="https://www.aliada.com.pe/cancer/tratamiento">Tratamiento</a></li>
            <li><a href="https://www.aliada.com.pe/prevencion">Prevención</a></li>
            <li><a href="https://www.aliada.com.pe/cancer">Biblioteca del Cáncer</a></li>
          </ul>
        </li>
        <li>
          <a href="https://www.aliada.com.pe/nosotros/nuestros-medicos">Doctores</a>
        </li>
        <li>
          <a href="https://www.aliada.com.pe/noticias">Noticias</a>
        </li>
        <li>
          <a href="https://www.aliada.com.pe/contactanos">Contacto</a>
        </li>
      </ul>
    </nav>
    <div id="responsive-menu-container"></div>
  </div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147091460-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147091460-1');
</script>


</header>

</div><body>

  <div class="main-container clearfix">
    
<div class="home-slider clearfix">
  <div class="view-content">
    <div class="views-row views-row-1">
      <style type="text/css">
        @font-face {
          font-family: TheSansPlain;
          src: url(https://www.aliada.com.pe/assets/fonts/TheSansPlain.ttf);
        }

        @font-face {
          font-family: TheSansBoldPlain;
          src: url(https://www.aliada.com.pe/assets/fonts/thesans-bold-plain.ttf);
        }        
      </style>

        
          <img src="assets/img/slider/Banner-para-web---1280x512_3.jpg" alt="">
         
                

    </div>
    <!--
    <div class="views-row views-row-2">
      <img src="https://www.aliada.com.pe/assets/img/slider/2v2.jpeg" alt="">
      <div class="contet-wrapper-slider">
        <div class="container">
          <div class="slide-content clearfix">
            <h1>Confía</h1>
            <h2>estamos contigo para ayudarte a luchar contra el cáncer</h2>
            <p>En Aliada nos encargamos de prevenir y <br>cuidar tu salud para ayudarte a llevar <br> bienestar a los que más quieres.</p>
            <a class="slider-button" href="https://www.aliada.com.pe/nosotros/porque-aliada">¿Por qué Aliada?</a>
          </div>
        </div>
      </div>
    </div>-->


 
      
  </div>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>-->
<script src='https://www.google.com/recaptcha/api.js?render=6Lf4me8UAAAAAPF-U5755rFMZkbZVF_yWwMSDzuC'></script>
<script src="https://www.aliada.com.pe/assets/js/contacto.js"></script>
<script type="text/javascript">

    grecaptcha.ready(function() {
      grecaptcha.execute('6Lf4me8UAAAAAPF-U5755rFMZkbZVF_yWwMSDzuC', {action: 'homepage'}).then(function(token) {       
         //$("#google-response-token").val(token);
         document.getElementById("google-response-token").value=token;
         ///$("#site_key").val('6Lf4me8UAAAAAPF-U5755rFMZkbZVF_yWwMSDzuC');
         document.getElementById("site_key").value='6Lf4me8UAAAAAPF-U5755rFMZkbZVF_yWwMSDzuC';
         //$("#secret_key").val('6Lf4me8UAAAAAFMMYdScfPRpGQoZB-eF0MHEXEhZ');
         document.getElementById("secret_key").value='6Lf4me8UAAAAAFMMYdScfPRpGQoZB-eF0MHEXEhZ';

      });
    });

</script>

<div class="appointment appointment-two clearfix" >
  <div class="container" >
    <div class="row" >
      <div class="col-md-4 col-sm-5 col-md-offset-8 make-appoint-two ">
        <span class="btn make-appoint">Primer contacto con Nosotros <i class="fa fa-caret-down"></i></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8 variation-two">
        <div class="appointment-form clearfix">
          <div class="description-form">
            <!--<p>En <span>ALIADA</span> te ayudamos a superar el desafío.</p>
            <p>Para cualquier consulta<br />puedes llamarnos al: <a href="tel:016505000" class="phone-texto">650-5000</a></p>
            <p>Si prefieres, te podemos contactar:</p>-->
            <p style="margin:0;">
              Sabemos que un tratamiento contra el cáncer puede ser un proceso difícil, escríbenos para poderte ayudar a que este proceso sea el más apropiado y efectivo posible.
            </p>
            <p style="display:none;"></p>
          </div> 
          <form class="clearfix" id="" method="post" action="https://www.aliada.com.pe/sendform.php" onSubmit="return validacion();">
            <div class="row">
              <div class="common col-md-12 col-sm-12">
                <input type="text" name="name" id="name" class="required" placeholder="Nombre Completo" required onchange="validar()"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4 common">
                <input type="text" name="number" id="number" class="required number" placeholder="Teléfono" maxlength="9" required onchange="validar()"/>
              </div>
              <div class="col-md-8 col-sm-8 common">
                <input type="email" name="email" id="email" class="required" placeholder="Correo electrónico" required onchange="validar()"/>
              </div>   
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 common">
                <input type="hidden" name="phone" id="phone" class="phone" required onchange="validar()"/>
                <input type="text" name="motivo" id="motivo" maxlength="200" class="required motivo" placeholder="Motivo" required onchange="validar()"/>
              </div>
            </div>
            <div class="common clearfix btn-send-custom" style="position:absolute; left:50;">
              <input type="hidden" name="google-response-token" id="google-response-token" value="03AGdBq240o_FPYYEc1tC52k64YbaGrpUozBoYgcedRTD6QTCIVq-BFLRBaP7LSG7EIEccStxw4B5Dz2JrWDUrSLssrI-rZBwzMyuRyHCkE8Y1n-LTMZQrJU4b2GJZNeUBaJoC-Mi9--YY_cVBai91YjtMBU7Q075CEi4JNFfHjyH0MT5Vap7QFHLUw3gyEgnKIrPWdAmTzK8m_YlQqeD9FX22DBFbGQZ-1e45DDC0jMEguo3XRJ-R9DhMgAIzrsieP8pMkS2MQV94XyJo14-qRYrHDeqKqU3zJ6gfanZpU-QIPqRLaEziaIz6hdHJnzZ66GRD0WOFkWgfx9lc5VEb8_UGBxbKXA0ibZ3ywuovpe8v2HmZr8dXJ7toKX1XAPNRbJjF8JGbEVZ1IW24vo5In2-HTLVkxVyM4LoAMpq_pb3TazbAB3bPGQ4KI1r6VoWB-oKyAz-Sbep2">
              <input type="hidden" name="site_key" id="site_key" value="6Lf4me8UAAAAAPF-U5755rFMZkbZVF_yWwMSDzuC">
              <input type="hidden" name="secret_key" id="secret_key" value="6Lf4me8UAAAAAFMMYdScfPRpGQoZB-eF0MHEXEhZ">
              <input type="hidden" name="message" id="message" value="NULL">
              <input type="hidden" name="subject" id="subject" value="Primer contacto con Nosotros">
              <input type="hidden" name="terminosAceptados" id="terminosAceptados" value="0">
              <div class="clearfix wrapper-input-label-custom">
                <input type="checkbox" name="terminos" id="terminos" value="" required="">
               <label for="terminos" class="checkbox">He leído y acepto<br>las <a href="#" data-toggle="modal" data-target="#ModalCondiciones">condiciones</a></label>
             </div>
           </div>
           <br>
           <br>
           <p class="col-sm-9" style="line-height:14px; padding-left: 0px;">
              <font size="2">He leído y acepto el tratamiento de mis datos personales para
                <a href="" data-toggle="modal" data-target=".bannerformmodal2">finalidades adicionales.</a>*
              </font>
           </p>

           <ul id="rdValidacionUL" style="line-height: 43px;margin-left: -15px;margin-top: -9px ">
              <input name="rdValidacion" type="radio" value="Si" style="position:relative;top:1.5px;" checked="checked">Sí
              <input name="rdValidacion" style="margin-left: 5px;" type="radio" value="No">No
          </ul>

           <input type="submit" name="Submit" id="enviar" class="btn form-submit-btn" value="ENVIAR" style="float: right;">
      
            <!--<div class="common clearfix btn-send-custom"> ANTES DEL SI y NO
              <input type="hidden" name="google-response-token" id="google-response-token">
              <input type="hidden" name="site_key" id="site_key">
              <input type="hidden" name="secret_key" id="secret_key">
              <input type="hidden" name="message" id="message" value="NULL">
              <input type="hidden" name="subject" id="subject" value="Primer contacto con Nosotros">
              <input type="submit" name="Submit" id="enviar" class="btn form-submit-btn" value="ENVIAR"/>              
              <div class="clearfix wrapper-input-label-custom">
                <input type="checkbox" name="terminos" id="terminos" value=""  required>
                <label for="terminos" class="checkbox">He leído y acepto<br />las <a href="#" data-toggle="modal" data-target="#ModalCondiciones">condiciones</a></label>
              </div>              
            </div>-->
          </form>
          <div id="resultado"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ACA EMPIEZA EL MODAL DE PROTECCION DE DATOS PERSONALES -->
<div class="modal fade bannerformmodal2" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" style="top: -1px;width: 30px;" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Cláusula de consentimiento para diferentes finalidades</h4>
            </div>
            <div class="modal-body">
          

                <div class="form-group">
                  <div class="input-group">  
                  <p>Nos autoriza utilizar sus datos personales para las siguientes finalidades:</p>
                  <ul> Realizar encuestas de satisfacción para mejorar la calidad de los servicios que ofrecemos.</ul>
                  <ul> Enviar comunicaciones referidas a nuevos servicios y promociones.</ul>
                  <ul> Transferir sus datos personales a las empresas vinculadas y <a href="">asociadas</a> al Centro Oncológico Aliada listados en el portal web</ul>
                  <br>
                  <br>
                  <p>
                    Te recordamos que podrás acceder a esta información, rectificarla, cancelarla, oponerse a su uso o revocar el consentimiento, dirigiéndose a las sedes indicadas en la página <a href="https://www.aliada.com.pe/contactanos/">Contáctenos</a>.
                  </p>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <p class="text-right">Aliada, Centro Oncológico.</p>
            </div>        
          </div>
        </div>
      </div>
</div> 

<!-- Modal -->
<div class="modal fade" id="ModalCondiciones" tabindex="-1" role="dialog" aria-labelledby="ModalCondicionesLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Protección de datos personales</h4>
      </div>
      <div class="modal-body">
        <p>Usted autoriza a Oncocare S.A.C. a almacenar, procesar y transferir su información a las subsidiarias y afiliadas (las «terceras empresas») listadas en los <a href="/terminos-y-condiciones">términos y condiciones</a> de nuestra página web. Mediante este consentimiento, tanto Oncocare S.A.C. como las terceras empresas podrán ofrecerle distintos productos y servicios mientras usted no solicite expresa y personalmente lo contrario. Puede solicitar sus derechos de acceso, rectificación, cancelación y oposición al uso de sus datos personales presentándose en nuestra sede durante el horario de atención al público. Si desea mayor información, puede consultar nuestros <a href="/terminos-y-condiciones">términos y condiciones.</a></p>
      </div>
    </div>
  </div>
</div></div>    ﻿<div class="home-features clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="features-intro clearfix">
                    <h3>Aliados contra el cáncer</h3>
                    <h2>Tratamiento y prevención</h2>
                    <p>Enfrentar un tratamiento de cáncer puede ser un<br />
                        proceso difícil. Por ello, en Aliada nos<br />
                        preocupamos por contar con los <a href="https://www.aliada.com.pe/nosotros/nuestros-medicos/"><span>especialistas</span></a> y<br />
                        la <span>tecnología médica</span> más efectiva para ayudarte<br />
                        a recorrer este camino.</p>
                    <a class="read-more" href="https://www.aliada.com.pe/nosotros/primeros">¿Cómo Empezar?</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 single-feature naranja">
                        <div class="row">
                            <div class="col-sm-3 icon-wrapper">
                                <img src="https://www.aliada.com.pe/assets/img/iconos/aliada.png" alt="">
                            </div>
                            <div class="col-sm-9">
                                <h3>Descubre Aliada</h3>
                                <p>Conoce que empresas nos respaldan y<br /> cuales son nuestras afiliaciones y<br /> acreditaciones internacionales</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 single-feature">
                        <div class="row">
                            <div class="col-sm-3 icon-wrapper">
                                <i class="fa fa-clock-o fa-custom"></i>
                            </div>
                            <div class="col-sm-9">
                            <!--    <h3>Horario de atención</h3>
                                <p>Lunes a Viernes _______ 8am - 8pm</p>
                                <p>Sábado _______________ 8am - 1pm</p>-->
                                <h3>Horario de atencion:</h3>
                                <p>Lunes a Viernes _______ 8am - 8pm</p>
                                <!--p>(Excepto Sábados)</p>--> 
                                <p>Sábado _______________ 8am - 1pm</p> 
                                <!---->
                       
                                <!---->                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 icon-wrapper">
                                
                            </div>    
                            <div class="col-sm-9">
                                <br>
                                <h6>Lugar:</h6>
                                <p>
                                Av. José Gálvez Barrenechea N° 1044
                                San Isidro, Lima 27 - Perú                                    
                                </p>
                                <!---->                               
                            </div>                                                    
                        </div>
                    </div>
                    <div class="col-sm-6 single-feature">
                        <div class="row">
                            <div class="col-sm-3 icon-wrapper">
                                <i class="fa fa-graduation-cap fa-custom"></i>
                            </div>
                            <div class="col-sm-9">
                                <h3>Biblioteca del cáncer</h3>
                                <p>Entérate de todo lo que necesitas saber <br />
                                    para comprender el panorama, <br />
                                    diagnóstico, tratamiento, <br />
                                    post-tratamiento y prevención para <br />
                                    cada tipo de cáncer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 single-feature">
                        <div class="row">
                            <div class="col-sm-3 icon-wrapper">
                                <i class="fa fa-map-marker fa-custom"></i>
                            </div>
                            <div class="col-sm-9">
                                <h3>Cómo llegar</h3><!--
                                <p><i class="fa fa-map-marker fa-custom"></i> Aliada - Sede principal</p>
                                <p><i class="fa fa-map-marker fa-custom"></i> Sanna | Clínica San Borja</p>
                                <p><i class="fa fa-map-marker fa-custom"></i> Sanna | Clínica el Golf</p>
                                <p><i class="fa fa-map-marker fa-custom"></i> Sanna | Clínica Sánchez Ferrer</p>
                                <p><i class="fa fa-map-marker fa-custom"></i> Sanna | Clínica Del Sur</p>
                                -->
                                <ul style="list-style-type:none;padding:0;">
                                    <li class="footer-mapas">
                                        <p><a href=""><i class="fa fa-map-marker fa-custom"></i></a> Aliada - Sede principal</p>
                                        <p><a target="_blank" href="https://www.google.com.pe/maps/place/Av.+Guardia+Civil+337,+Cercado+de+Lima+15036/@-12.0920384,-77.0109473,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c7d646f7668b:0x9a79ba4fbf4a0a6e!8m2!3d-12.0920437!4d-77.0087586?hl=es"><i class="fa fa-map-marker fa-custom"></i></a> <a target="_blank" href="https://www.sanna.pe/clinicas/san-borja-lima/informacion-general/">SANNA</a> | Clínica San Borja</p>
                                        <p><a target="_blank" href="https://www.google.com.pe/maps/place/Aurelio+Miro+Quesada+1030,+San+Isidro+15076/@-12.0988497,-77.0536319,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c84de8852ab3:0x6d24793ef0ef7b74!8m2!3d-12.098855!4d-77.0514432?hl=es"><i class="fa fa-map-marker fa-custom"></i></a> <a target="_blank" href="https://www.sanna.pe/clinicas/el-golf-lima/informacion-general/">SANNA</a> | Clínica el Golf</p>
                                        <p><a target="_blank" href="https://www.google.com.pe/maps/place/Los+Laureles+436,+Victor+Larco+Herrera+13009/@-8.1299974,-79.0417619,17z/data=!3m1!4b1!4m5!3m4!1s0x91ad3d6cfb14def3:0x6c1879e787fd9e28!8m2!3d-8.1300027!4d-79.0395732?hl=es"><i class="fa fa-map-marker fa-custom"></i></a> <a target="_blank" href="https://www.sanna.pe/clinicas/sanchez-ferrer-trujillo/informacion-general/">SANNA</a> | Clínica Sánchez Ferrer</p>
                                        <p><a target="_blank" href="https://www.google.com.pe/maps/place/SANNA+%5C+Cl%C3%ADnica+del+Sur/@-16.3917466,-71.5418158,17z/data=!3m1!4b1!4m5!3m4!1s0x91424a59f549bfc5:0x59324bdae25993aa!8m2!3d-16.3917518!4d-71.5396271?hl=es"><i class="fa fa-map-marker fa-custom"></i></a> <a target="_blank" href="https://www.sanna.pe/clinicas/del-sur-arequipa/informacion-general/">SANNA</a> | Clínica Del Sur</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    <div class="home-doctors  clearfix">
    <div class="container">
        <div class="slogan-section animated fadeInUp clearfix">
            <h2>Descubre cómo te podemos ayudar en <span>Aliada</span></h2>
            <p>Comprendemos lo que más te preocupa y el cómo ayudarte a superar el desafio.</p>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6  text-center">
                <div class="common-doctor animated fadeInUp clearfix">
                    <figure>
                        <a href="https://www.aliada.com.pe/nosotros/porque-aliada" title="">
                            <img src="https://www.aliada.com.pe/assets/img/ayuda/0.jpg?v=1.0.25" alt="">
                            <!--<img id="imgAyuda0" src="" alt="">-->
                        </a>
                    </figure>
                    <div class="text-content">
                        <h5><a href="https://www.aliada.com.pe/nosotros/porque-aliada">¿Por qué Aliada?</a></h5>
                        <div class="for-border"></div>
                        <p>Descubre todo los esfuerzos que realizamos para comprender la atención que necesitas.</p>
                    </div>
                </div>
                <a class="read-more" href="https://www.aliada.com.pe/nosotros/porque-aliada">Leer más</a>
            </div>
            <div class="col-md-3 col-sm-6  text-center">
                <div class="common-doctor animated fadeInUp clearfix">
                    <figure>
                        <a href="https://www.aliada.com.pe/nuestros-tratamientos" title="">
                            <img src="https://www.aliada.com.pe/assets/img/ayuda/2.jpg" alt="">
                        </a>
                    </figure>
                    <div class="text-content">
                        <h5><a href="https://www.aliada.com.pe/nuestros-tratamientos">Nuestros Tratamientos</a></h5>
                        <div class="for-border"></div>
                        <p>Consulta nuestras alternativas de tratamiento y los exigentes éstandares que aplicamos.</p>
                    </div>
                </div>
                <a class="read-more" href="https://www.aliada.com.pe/nuestros-tratamientos">Leer más</a>
            </div>

            <div class="visible-sm clearfix margin-gap"></div>

            <div class="col-md-3 col-sm-6  text-center">
                <div class="common-doctor animated fadeInUp clearfix">
                    <figure>
                        <a href="https://www.aliada.com.pe/prevencion-aliada" title="">
                            <img src="https://www.aliada.com.pe/assets/img/ayuda/prevencion_aliada.jpg" alt="">
                        </a>
                    </figure>
                    <div class="text-content">
                        <h5><a href="https://www.aliada.com.pe/prevencion-aliada">Prevención Aliada</a></h5>
                        <div class="for-border"></div>
                        <p>Entérate de nuestros programas y técnicas más avanzadas de prevención contra el cáncer.</p>
                    </div>
                </div>
                <a class="read-more" href="https://www.aliada.com.pe/prevencion-aliada">Leer más</a>
            </div>

            <div class="col-md-3 col-sm-6  text-center">
                <div class="common-doctor animated fadeInUp clearfix">
                    <figure>
                        <a href="https://www.aliada.com.pe/nosotros/nuestros-medicos" title="">
                            <img src="https://www.aliada.com.pe/assets/img/ayuda/4.jpg" alt="">
                        </a>
                    </figure>
                    <div class="text-content">
                        <h5><a href="https://www.aliada.com.pe/nosotros/nuestros-medicos">Nuestros Especialistas</a></h5>
                        <div class="for-border"></div>
                        <p>Conoce a nuestro equipo multidisciplinario de doctores y especialistas médicos.</p>
                    </div>
                </div>
                <a class="read-more" href="https://www.aliada.com.pe/nosotros/nuestros-medicos">Leer más</a>
            </div>
            <div class="visible-sm clearfix margin-gap"></div>
        </div>
    </div>
</div>    <div class="home-logos">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3>Afiliado a:</h3>
        <a href="https://www.aliada.com.pe/nosotros/afiliaciones-y-acreditaciones/">
          <img src="https://www.aliada.com.pe/assets/img/logos/1.png" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3>Acreditado en:</h3>
        <a href="https://www.aliada.com.pe/nosotros/afiliaciones-y-acreditaciones/">
          <img src="https://www.aliada.com.pe/assets/img/logos/2.png" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 remove-text">
        <h3>Afiliado a:</h3>
        <a href="https://www.aliada.com.pe/nosotros/afiliaciones-y-acreditaciones/">
          <img src="https://www.aliada.com.pe/assets/img/logos/3.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>    <div class="home-blog text-center clearfix">
    <div class="container">
        <div class="slogan-section animated fadeInUp clearfix">
            <h2>Eventos y noticias recientes de <span>Aliada</span></h2>
            <p>Nos preocupamos por mantenerte informado sobre los principales eventos y noticias relacionadas con el cáncer</p>
        </div>
        <div class="row" id="divNoticiasBlog"></div>
    </div>
</div>    ﻿<div class="home-testimonial clearfix">
    <div class="container">
        <div class="text-center">
            <div class="slogan-section animated fadeInUp clearfix">
                <h2>Lo que dicen nuestros pacientes sobre <span>Aliada</span></h2>
                <p>Conozca <a href="https://www.aliada.com.pe/testimonio"><span>más testimonios</span></a> de personas que decidieron aliarse contra el cáncer</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-center">
            <!---->
            <ul class="slides">
                <li>
                    <img class="img-circle" src="https://www.aliada.com.pe/assets/img/testimonios/1.png" alt="" />
                    <blockquote>
                        <p>“Cuando llegué a Aliada, <span>me encontré con personas muy profesionales</span> que desde el primer <br />momento me transmitieron seguridad y confianza para afrontar esta enfermedad.”</p>
                    </blockquote>
                    <div class="testimonial-footer clearfix">
                        <h3>Patricia Márquez</h3>
                        <div class="for-border"></div>
                        <p><span>Cáncer de cólon</span> (Metástasis hepático) - <a class="blue-light" href="https://www.aliada.com.pe/nuestros-tratamientos/quimioterapia">Quimioterapia</a> en Aliada contra el cáncer - Sede principal (2010) <a href="https://www.aliada.com.pe/testimonio">Ver más</a></p>
                    </div>
                </li>
            </ul>
            <!---->
            <!--
                <div class="flexslider-three animated fadeInUp slick-custom">
                    <ul class="slides">
                        <li>
                            <img class="img-circle" src="https://www.aliada.com.pe/assets/img/testimonios/1.png" alt="" />
                            <blockquote>
                                <p>“Cuando llegué a Aliada, <span>me encontré con personas muy profesionales</span> que desde el primer <br />momento me transmitieron seguridad y confianza para afrontar esta enfermedad.”</p>
                            </blockquote>
                            <div class="testimonial-footer clearfix">
                                <h3>Patricia Márquez</h3>
                                <div class="for-border"></div>
                                <p><span>Cáncer de cólon</span> (Metástasis hepático) - <a class="blue-light" href="https://www.aliada.com.pe/nuestros-tratamientos/quimioterapia">Quimioterapia</a> en Aliada contra el cáncer - Sede principal (2010) <a href="https://www.aliada.com.pe/testimonio">Ver más</a></p>
                            </div>
                        </li>
                        <li>
                            <img class="img-circle" src="https://www.aliada.com.pe/assets/img/testimonios/1.png"  alt="" />
                            <blockquote>
                                <p>“Cuando llegué a Aliada, <span>me encontré con personas muy profesionales</span> que desde el primer <br />momento me transmitieron seguridad y confianza para afrontar esta enfermedad.”</p>
                            </blockquote>

                            <div class="testimonial-footer clearfix">
                                <h3>Valerie Paz Soldán</h3>
                                <div class="for-border"></div>
                                <p><span>Cáncer de cólon</span> (Metástasis hepático) - <a class="blue-light" href="https://www.aliada.com.pe/nuestros-tratamientos/quimioterapia">Quimioterapia</a> en Aliada contra el cáncer - Sede principal (2010) <a href="https://www.aliada.com.pe/testimonio">Ver más</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
                -->
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>  </div>
    <style>
  #divCuerpoNoticiaPop section{
    width:100% !important;
  }

@media screen and (min-width: 1200px) {

  #divNoticiasBlog .col-md-4>article .text-content{
    height:284px !important;
  } 
}

/*->prueba de imagen responsiva
@media screen and (max-width: 1200px) {
		    #imgPopupNoticiaPrincipal {
		        max-width: 1100px;
		    }
		}
		@media screen and (max-width: 1100px) {
		    #imgPopupNoticiaPrincipal {
		        max-width: 1000px;
		    }
		}
		@media screen and (max-width: 1000px) {
		    #imgPopupNoticiaPrincipal {
		        max-width: 900px;
		    }
		}
		@media screen and (max-width: 900px) {
		    #imgPopupNoticiaPrincipal {
		        max-width: 800px;
		    }
		}
		@media screen and (max-width: 800px) {
		    #imgPopupNoticiaPrincipal {
		        max-width: 700px;
		    }
		}
		@media screen and (max-width: 700px) {
		    #imgPopupNoticiaPrincipal {
		        max-width: 600px;
		    }
		}
		@media screen and (max-width: 600px) {
		    #imgPopupNoticiaPrincipal {
		        max-width: 500px;
		    }
		}
		@media screen and (max-width: 500px) {
		    #imgPopupNoticiaPrincipal {
		        max-width: 400px;
		    }
		}*/
  </style>
  <div class="modal fade" id="divNoticiaPop" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="ModalNoticiaLabel" data-backdrop="static" data-keyboard="false" style="z-index:9999999;">
    <div id="mdl_Noticia" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button id="btnCerrarVideo" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="divTituloNoticiaPop" style="font-weight:bold; color:black;"></h4>
        </div>
        <div class="modal-body" id="divCuerpoNoticiaPop"></div>
      </div>
    </div>
  </div>
<a href="#" data-toggle="modal" data-target="#divNoticiaPop" id="aLinkPopNoticia"></a>

  
  ﻿<footer id="main-footer" class="site-footer clearfix">
    <div class="container">
        <div class="row">


            <!--about widget-->
            <div class="col-md-3 col-sm-12">
                <section  class="widget animated fadeInLeft">
                    <h3 class="title">
                        <img src="https://www.aliada.com.pe/assets/img/logo-footer.png?v=1.0.25" alt="">
                        <!--<img id="imgLogoFooter" src="" alt="">-->
                    </h3>
                    <div class="textwidget">
                        <ul>
                            <li>
                                <a>Av. José Gálvez Barrenechea N° 1044<br />San Isidro, Lima 27 - Perú</a>
                            </li>
                            <li>
                                <a href="tel:016505000">Central: +511 650-5000</a>
                            </li>
                            <li>
                                <a>Informes@aliada.com.pe</a>
                            </li>
                            <li>
                                
<a>Horario de Atención<br>Lunes a Viernes de 8am a 8pm / Sábados de 8am a 1pm</a>
                            </li><!--Lunes a viernes de 8am a 8pm<br />Sábados de 8am a 1pm-->
                            </li>
                            <li class="footer-mapas">
                                <p><a href=""><i class="fa fa-map-marker fa-custom"></i></a> Aliada - Sede principal</p>
                                <p><a target="_blank" href="https://www.google.com.pe/maps/place/Av.+Guardia+Civil+337,+Cercado+de+Lima+15036/@-12.0920384,-77.0109473,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c7d646f7668b:0x9a79ba4fbf4a0a6e!8m2!3d-12.0920437!4d-77.0087586?hl=es"><i class="fa fa-map-marker fa-custom"></i></a> <a target="_blank" href="https://www.sanna.pe/clinicas/san-borja-lima/informacion-general/">SANNA</a> | Clínica San Borja</p>
                                <p><a target="_blank" href="https://www.google.com.pe/maps/place/Aurelio+Miro+Quesada+1030,+San+Isidro+15076/@-12.0988497,-77.0536319,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c84de8852ab3:0x6d24793ef0ef7b74!8m2!3d-12.098855!4d-77.0514432?hl=es"><i class="fa fa-map-marker fa-custom"></i></a> <a target="_blank" href="https://www.sanna.pe/clinicas/el-golf-lima/informacion-general/">SANNA</a> | Clínica el Golf</p>
                                <p><a target="_blank" href="https://www.google.com.pe/maps/place/Los+Laureles+436,+Victor+Larco+Herrera+13009/@-8.1299974,-79.0417619,17z/data=!3m1!4b1!4m5!3m4!1s0x91ad3d6cfb14def3:0x6c1879e787fd9e28!8m2!3d-8.1300027!4d-79.0395732?hl=es"><i class="fa fa-map-marker fa-custom"></i></a> <a target="_blank" href="https://www.sanna.pe/clinicas/sanchez-ferrer-trujillo/informacion-general/">SANNA</a> | Clínica Sánchez Ferrer</p>
                                <p><a target="_blank" href="https://www.google.com.pe/maps/place/SANNA+%5C+Cl%C3%ADnica+del+Sur/@-16.3917466,-71.5418158,17z/data=!3m1!4b1!4m5!3m4!1s0x91424a59f549bfc5:0x59324bdae25993aa!8m2!3d-16.3917518!4d-71.5396271?hl=es"><i class="fa fa-map-marker fa-custom"></i></a> <a target="_blank" href="https://www.sanna.pe/clinicas/del-sur-arequipa/informacion-general/">SANNA</a> | Clínica Del Sur</p>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>


            <!--general services-->
            <div class="col-md-2 col-sm-3 menu-footer-c"><!-- more-width -->
                <section class="widget animated fadeInLeft"><!-- ae-animation-fadeInLeft -->
                    <h3 class="title">Aliada</h3>
                    <ul id="twitter_update_list">
                        <li><a href="https://www.aliada.com.pe/nosotros/acerca-de-aliada">Acerca de Aliada</a></li>
                        <li><a href="https://www.aliada.com.pe/nosotros/primeros">Segunda opinion</a></li>
                        <li><a href="https://www.aliada.com.pe/nosotros/porque-aliada">¿Por qué Aliada?</a></li>                        
                        <li><a href="https://www.aliada.com.pe/nosotros/nuestra-historia">Nuestra historia</a></li>
                        <li><a href="https://www.aliada.com.pe/nosotros/nuestras-sedes">Nuestras sedes</a></li>
                        <li><a href="https://www.aliada.com.pe/nosotros/nuestros-servicios">Nuestros servicios</a></li>
                        <li><a href="https://www.aliada.com.pe/nosotros/afiliaciones-y-acreditaciones">Afiliaciones y acreditaciones</a></li>
                        <li><a href="https://www.aliada.com.pe/nosotros/nuestros-medicos">Equipo Médico</a></li>
                        <li><a href="https://www.aliada.com.pe/nosotros/seguros-con-los-que-trabajamos">Seguros con los que trabajamos</a></li>
                    </ul>
                </section>
            </div>

            <!-- <div class="clearfix visible-sm"></div> -->

            <!--recent posts-->
            <div class="col-md-2 col-sm-3 menu-footer-c">
                <section  class="widget animated fadeInLeft">
                    <h3 class="title">Servicios</h3>
                    <ul id="twitter_update_list">
                        <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/quimioterapia">Quimioterapia</a></li>
                        <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/radioterapia">Radioterapia</a></li>
                        <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/terapia-biologica">Terapia Biológica</a></li>
                        <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/terapia-hormonal">Terapia Hormonal</a></li>
                        <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/cirugia-oncologica">Cirugia Oncológica</a></li>
                        <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/trasplante-de-medula">Trasplante de Médula</a></li>
                    
                        <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/unidad-de-imagenes">Unidad de Imágenes</a></li>
                        <li><a href="https://www.aliada.com.pe/nuestros-tratamientos/consejeria-genetica">Consejería Genética</a></li>
                        <li><a href="https://unilabs.pe/" target="_blank">Anatomía Patológica</a></li>       
                        <li><a href="https://www.precisa.com.pe/" target="_blank">Laboratorio</a></li>  

                    </ul>
                </section>
            </div>
 
            <!--recent posts-->
            <div class="col-md-2 col-sm-3 menu-footer-c menu-footer-otros">
                    <section  class="widget animated fadeInLeft">
                        <h3 class="title">Otros links</h3>
                        <ul id="twitter_update_list">
                            <!-- <li><a href="/primeros">Segunda opinion</a></li> -->
                            <li><a href="https://www.aliada.com.pe/cancer">El Cáncer</a></li>
                            <li><a href="https://www.aliada.com.pe/nosotros/nuestros-medicos">Doctores</a></li>
							<!--<li><a href="http://www.silentwhistle.com/ethfeedback/index.jsp?companyId=3092347" target="_blank">Alerta Genética</a></li>-->
                            <!--<li><a href="http://www.alertagenetica.ethicspoint.com" target="_blank">Alerta Genética</a></li>-->
			    <li><a href="https://secure.ethicspoint.com/domain/media/es/gui/81419/index.html" target="_blank">Centro de Ayuda de Ética y Cumplimiento</a></li>
                            <li><a href="https://www.aliada.com.pe/noticias">Noticias</a></li>
                            <li><a href="https://www.aliada.com.pe/testimonio">Testimonios</a></li>
                            <li><a href="https://www.aliada.com.pe/contactanos">Contacto</a></li>
                            <li><a href="https://www.aliada.com.pe/transparencia">Transparencia</a></li>
                        </ul>
                    </section>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-12 clearfix text-right">
                <ul class="footer-social-nav">
                    <!--<li><a target="_blank" href="https://www.facebook.com/AliadacontraelCancer?fref=ts"><i class="fa fa-facebook"></i></a></li>-->                                                
                    <li><a target="_blank" href="https://www.facebook.com/AliadaCentroOncologico/"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/user/Aliadacontraelcancer"><i class="fa fa-youtube"></i></a></li>
                    <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/aliadacentrooncologico/"><i class="fa fa-instagram"></i></a></li>
                    <!--<li><a target="_blank" href="https://plus.google.com/+AliadaPe"><i class="fa fa-google-plus"></i></a></li>-->
                </ul>
            </div>
        </div>
        <div class="footer-bottom animated fadeInDown clearfix">
            <div class="row">             
                <div class="col-sm-7">
                    <p>Aliada 2018. Todos los derechos reservados</p>
                </div>
                <!--footer social icons-->
                <div class="col-sm-5 clearfix text-right">
                    <ul class="terminos">
                        <li><a href="https://www.aliada.com.pe/terminos-y-condiciones">Términos y condiciones</a></li>                                                
                        <!-- <li><a target="_blank" href="#">Politica de privacidad</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

    <a href="#top" id="scroll-top"></a>
    <input id='hdfUrlBase' type='hidden' value='https://www.aliada.com.pe/admin-aliada/'/>
    <!-- <input id='hdfUrlBase' type='hidden' value='< ?php echo $urlBase ?>'/> -->
    <input id='hdfUrlBaseWeb' type='hidden' value='https://www.aliada.com.pe/'/>
    <script type='text/javascript' id='quick-js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery-2.2.3.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery.flexslider-min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery.swipebox.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery.isotope.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery.appear.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery.ui.core.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery.ui.datepicker.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery.validate.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery.form.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery.autosize.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery.meanmenu.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery.velocity.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery-twitterFetcher.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/respond.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/jquery-migrate-1.2.1.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/custom.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/slick.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/slick.min.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/smoothscroll.js'></script>
    <script type='text/javascript' src='https://www.aliada.com.pe/assets/js/principal.js?v=1.0.19'></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37678666-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
</body>
</html>
